body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* ------------ container ------------ */
.container{
background-color: #FFF;
width: 380px;
margin: 50px auto;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* ------------ header ------------ */
.header{
background-image: url('../img/bg.jpg');
background-size: 100%;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
height: 200px;
justify-content: space-between;

}
.clear{
display: flex;
justify-content: flex-end;
margin: 10px;
}
.clear i:hover{
    color: rgb(102, 102, 102);
    cursor: pointer;
    transform: rotate(45deg);
}
#date{
    color: white;
    margin: 10px;
    font-size: 20px;
}

/* ------------ content ------------ */
.content{
    justify-content: flex-start;
}
.content::-webkit-scrollbar { 
    display: none;
}
.content ul{
    padding: 0;
    margin: 0;

}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    height: 30px;
}
.item i.co{
    cursor: pointer;
}
.item p.text{
    width: 300px;
}
.lineThrough{
    text-decoration: line-through;
}
.item i.de{
    cursor: pointer;
}
.item i.de:hover{
    color: rgb(209, 34, 34);
}
/* ------------ add item ------------ */
.add-to-do{
    padding: 10px;
    background-color: rgb(236, 236, 236);
}
.add-to-do i{
cursor: pointer;
}

.add-to-do input{
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 3px;
    margin-left: 5px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */

}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */

}
.add-to-do input:-moz-placeholder { /* Firefox 18- */

}




























